@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind/preflight;
@tailwind utilities;

:root {
  --font-urbanist: 'Urbanist', sans-serif;
}

body {
  font-family: var(--font-urbanist);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
    :root {
        --brand-pink: #f7d0e9;
        
    }
}
