@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind/preflight;
@tailwind utilities;

:root {
  --font-urbanist: 'Urbanist', sans-serif;
}

body {
  font-family: var(--font-urbanist);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
    :root {
        --brand-pink: #f7d0e9;
        
    }
}

.background-gradient {
  background: radial-gradient(
    circle at top center,
    hsla(222, 80%, 60%, 0.5) 0%,
    hsla(222, 0%, 0%, 0) 50%,
    hsla(222, 0%, 0%, 0) 100%
  );
}
